<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="Tunik\Info\Model\DocsUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">info/tmp/doc</argument>
            <argument name="basePath" xsi:type="string">info/doc</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="pdf" xsi:type="string">pdf</item>
                <item name="doc" xsi:type="string">doc</item>
                <item name="rtf" xsi:type="string">rtf</item>
                <item name="tiff" xsi:type="string">tiff</item>
            </argument>
        </arguments>
    </type>
</config>
